.container{
    width: 240px;
    height: 45px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    border: 1px solid var(--secondary-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    transition-duration: 0.2s;
}

.container:hover{
    cursor: pointer;
    background-color: var(--secondary-color-lighten);
}

.name{
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.image{
    width: 30px;
    height: 30px;
}