.container{
    width: auto;
    font-size: 1.2rem;
    padding: 10px 15px 10px 15px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: -10px;
    border: none;
    outline: none;

    border-radius: 6px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-border-color);
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.container:hover{
    transition-duration: 0.2s;
    background-color: var(--secondary-color-lighten);
}